<div class="clr-row" id="searchForm">
    <input clrInput id="search" type="text" placeholder="Search..." 
      [(ngModel)]="key" class="clr-col-12">
    <a [routerLink]="['/search',key]" class="clr-col-6">
        <button type="submit" class="btn btn-info">Search</button>
    </a>

</div>


<div  *ngFor = "let charity of charities" id="charities">
    <div class="clr-row">
        <div class="clr-col-lg-6 clr-col-10">
            <a [routerLink]="['/charity',charity.id]" class="card clickable" >
                <h2>{{charity.title}}</h2> 
                <div class="card-img">
                    <!--<img src="../../assets/OIP.jpg">-->
                    <img [src]="charity.imageUrl">
                </div>
                <div class="description">
                    {{charity.description|cut}}
                </div>
                <div class="card-block">
                    <div *ngIf="charity.volunteersNeeded != 0">
                        <div class="progress-block">
                            <label for="demoProgressBar">{{charity.volunteers}}</label>
                            <clr-progress-bar id="demoProgressBar" clrValue="{{charity.volunteers}}" 
                                            clrMax="{{charity.volunteersNeeded}}"></clr-progress-bar>
                            <span id="progress-bar">{{charity.volunteersNeeded}}</span>
                        </div>
                    </div>
                    <div *ngIf="charity.moneyNeeded != 0">
                        <div class="progress-block">
                            <label for="demoProgressBar">{{charity.moneyDonated}}$</label>
                            <clr-progress-bar id="demoProgressBar" clrValue="{{charity.moneyDonated}}" 
                                            clrMax="{{charity.moneyNeeded}}"></clr-progress-bar>
                            <span id="progress-bar">{{charity.moneyNeeded}}$</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>